
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.random{
    background-color: tomato
}

button{
     border-radius: 10px;
            width: 250px;
            height: 250px;
            margin: 5px;
        }
